/* viewfuelrequest.css */

.fuel-requisition-form {
    padding: 20px;
    background-color: #f7f7f7;
    width: auto;
    margin:10px 20px 0px 20px;
  }
  
  .navigate-request ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navigate-request li {
    margin-bottom: 10px;
    cursor: pointer;
  }
  .navigate-request li p {
    background-color: #ddd;
    padding: 10px;
    border-radius: 4px;
  }
  
  .navigate-request li p:hover {
    background-color: #ccc;
  }
  
  .view-form-group {
    margin-bottom: 15px;
    display: flex;
    gap: 25rem;
    
  }
  
  
.navigate-request ul {
  list-style-type: none;
}

.fuel-request-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.fixed-nav-bar {
  position: fixed;
  top: 10%;
  left: 5;
  width: 65%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  z-index: 1100;
}

.fixed-nav-bar button {
  margin-left: 10px;
}

.fuel-request-details-content {
  margin-top: 50px; /* Space for the fixed nav bar */
  background: #fff;
  padding: 60px;
  padding-left: 100px;
  width: 65%;
  overflow-y: auto;
  max-height: 80%;
}
.fuel-request-details-content h2{
  text-align: center;
  color: rgb(0, 98, 255);
}
.view-form-group {
  margin-bottom: 15px;
}

.view-form-group label {
  font-weight: bold;
}

.view-form-group span {
  display: block;
}
.quantity-recieved-field{
  padding: 0;
  margin-left: -6rem;
}


.form-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.form-buttons button {
  margin-left: 10px;
}
.update-request-btn{
  margin: 10px 0px;
  background-color: rgb(12, 112, 21);
  width: 100px;
  font-size: 16px;
}
/***********buttons**********/
.cancel-request-btn{
  background-color: red;
  position: absolute;
  font-size: 12px;
}
.verify-btn{
  background-color: blue;
  font-size: 15px;
}
.save{
  background-color: blue;
  font-size: 15px;
  padding:1;
  height: auto;
  width: auto;
}
.reject-request-btn{
  background-color: rgb(247, 107, 107);
}
.close-btn{
  background-color: rgb(172, 39, 39);
  font-size: 12px;
}
.file-uploaded a{
  background-color:rgb(73, 153, 73);
  padding: 10px;
  color: white;
  border-radius: 5px;
}
.file-uploaded a:hover{
  background-color: green;
}
/*******signatures fuel section*****************/
.fuel-signatures{
  display: flex;
  gap: 100px;
  margin: 20px 0px;
}
.fuel-signatures img {
  width: 100px;
  display: block;
  margin-top: 10px;
}
.hod-fuel-signature,.logistic-fuel-signature{
  padding: 0;
}
.hod-fuel-signature h4{

  color: black;
}