/* makeRequist.css */

.requist {
    font-family: Arial, sans-serif;
    max-width:90%;
    margin: 0 auto;
    padding: 20px;
   
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .requist h2{
    padding: 20px;
  }
  .heading-title .title{
    display: flex;
  }
  .heading-title .title h3{
  padding: 10px;
  }
  .heading-title .title input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 20%;
    margin-top: 0%;
  }
  .done-date{
    position: absolute;
    top: 10%;
    right: 10%;
  }
  /*styling form*/
  .logistic-request-form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  
  .logistic-request-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  

  
  input[type="text"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: 200px;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #f1f1f1;
  }
  .remove-btn{
    background-color: rgb(218, 47, 47);
  }
  .signature-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 20px;
    
    
  }
  .signature-section input[type=text]{
    width: 30%;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  .signature{
    flex: 1;
    width:100px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  
  .logistician-sign input[type=text]{
    width: 50%;
  
  }
  form h4{
    text-align: center;
  }
  hr{
    font-weight: 900;
    border: 3px solid black;
    
  }
 
  @media (max-width: 600px) {
    .signature-section {
      flex-direction: column;
    }
  
    .signature,
    .date,
    .image-upload-section {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  
  