.admin-dashboard {
  width: 100%;
  height:auto;

  }
  .Admincontent{
    height: auto;
    width: 85%; 
    height: auto;
    justify-content: space-between;
    padding: 100px 10px 0px 0px;
    margin-left: 16%;

  }
  .add-new-user-btn{
    font-size: 16px;
  
  }
 /****************styling editing******************/ 
 .editing-userdata-ovelay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}
.editinguser-form{
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  height: 700px;
  overflow-y: scroll;
}
.edit-user-close-btn{
 background-color: red;
 border-radius: 50%;
 width: 63px;
 height: 63px;
 padding: 10px;
 color: white;
}
.editinguser-form h2{
   text-align: center;
   padding: 20px;
   font-size: 40px;
   color: #007bff;
   font-weight: 900;
}
  .view-items {
    width:auto;
    margin: 0 auto;
    padding: 20px;
   
  }
  
  .items-table {
    border-collapse: collapse;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .items-table .searchbar{
    width: 30%;
    padding:15px;
  }
  .items-table th, .items-table td {
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 12px;
    width:200px;
  }
  
  .items-table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  

  .edit-delete label{
  
    cursor: pointer;
    gap: 10px;
    font-size: 10px;
   
    float: left;
    width:20px;
    
  }
  .user-cancel-btn{
    background-color: red;
    font-size: 16px;
  }
  .pagination {
    margin-top: 20px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  .pagination button{
    padding:5px;
    margin-bottom: 10px;
    margin-left: 5px;
    background-color: #007bff;
    font-size: 20px;
  }
  .pagination button:hover{
    background-color: blue;
  }
  .page-btn {
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  
  .page-btn.active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  
  @media (max-width: 768px) {
    .items-table th, .items-table td {
      font-size: 14px;
      padding: 6px;
    }
  
    .edit-btn, .delete-btn {
      padding: 6px 10px;
      font-size: 12px;
    }
  
    .page-btn {
      padding: 6px 10px;
      font-size: 12px;
      margin: 0 3px;
    }
  }
  