*{
    margin: 0;
}
.service-data{
    display: flex;
    text-align: center;
    margin-left: 2%;
    gap: 100px;
}
.service-data h1{
    padding: 10px;
}
.service-table-data {
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .service-table-data button{
    background-color: #007bff;
  }
  .service-table-data button:hover{
    color: white;
  }
  /************ styling adding service form***********/

  .add-service-form {
    
      margin: auto;
      padding: 20px;
      border: 1px solid #f9f5f5;
      border-radius: 5px;
      background-color:white;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
    .add-service-form h2{
      font-size: 30px;
      margin-bottom: 20px;
      color: #007bff;
      text-align: center;
      font-weight: 900;
    }
   
    label {
      display: block;
      font-weight: bold;
      font-size: 22px;
      margin-bottom: 5px;
    }
    
    .flex-container{
      padding: 5px;
      font-size: 16px;
      border-radius: 4px;
      transition: border-color 0.3s ease-in-out;
    }
    
    textarea {
      height: 80px;
      resize: vertical;
    }
    
    input[type='text']:focus,
    textarea:focus
    {
      outline: none;
      border-color: #6c63ff;
    }
    
    button[type='submit'] {
      background-color: #6c63ff;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 20px;
      transition: background-color 0.3s ease-in-out;
    }
    
    button[type='submit']:hover {
      background-color: #564fd8;
      
    }
    
    .button-container {
      text-align: center;
    }
   
  