/* Container for the entire component */
.stock-report-container {
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 20px;
    background-color: white;
    font-family: Arial, sans-serif;
    border-radius: 5px;
  }
 .fuel-report-header{
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
  rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
 } 
 .fuel-filter-input{
  display: flex;
  padding: 10px;
  border-radius: 5px;
  gap: 2rem;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em;
 }
.fuel-filter-input button{
background-color: #0056b3;
font-size: 16px;
 max-height: 50px;
 margin: 20px 0px;
}  /* Heading styles */
  .stock-report-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .stock-report-container h3 {
    color: #555;
    margin-top: 20px;
  }
  
  .stock-report-container h4 {
    color: #666;
    margin-top: 10px;
  }
  
  /* Input and button styling */
  .stock-report-container input,
  .stock-report-container button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .stock-report-container input[type="text"],
  .stock-report-container input[type="date"] {
    width: 100%;
  }
  
  .stock-report-container button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .stock-report-container button:hover {
    background-color: #0056b3;
  }
  
  /* Table styling */
  .stock-report-container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .stock-report-container th,
  .stock-report-container td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .stock-report-container th {
    background-color: #f4f4f4;
  }
  
  .stock-report-container tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .stock-report-container tr:hover {
    background-color: #f1f1f1;
  }
 /*******styling full report of fuel component*******/ 
 .fuel-full-report{
  background-color: white;
  padding: 20px;
  margin: 10px 20px 10px 20px;
  
 }
.report-footer{
  display: flex;
  gap: 20rem;
  
}
  /* Responsive design */
  @media (max-width: 768px) {
    .stock-report-container input,
    .stock-report-container button {
      width: calc(100% - 20px);
      font-size: 14px;
    }
  
    .stock-report-container table {
      font-size: 14px;
    }
  
    .stock-report-container th,
    .stock-report-container td {
      padding: 8px;
    }
  
    .stock-report-container h2 {
      font-size: 24px;
    }
  
    .stock-report-container h3 {
      font-size: 18px;
    }
  
    .stock-report-container h4 {
      font-size: 16px;
    }
  }
  