.navigation {
  width: 305px;
  background-color: #2c3b50;
  position: fixed;
  height: 100%;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1000;
  box-shadow: 0 1px 3px -2px black;
}

.navigation h2 {
  margin: 0 0 20px;
}

.navigation ul {
  list-style-type: none;
  padding: 10px,0,0, 10px;
  color: white;
}

.navigation ul li {
  margin: 20px 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
}
.dropdown-menu{
  margin-left: 2rem;

}
.navigation ul button{
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: brown;
  color: wheat;
  position: absolute;
  bottom: 10%;
  cursor: pointer;
}
.navigation ul button:hover{
  background-color: rgb(215, 30, 30);
}
.navigation ul li:hover {
  color: brown;
}
