/* General styles */

  /* Container styles */
  .forget-password-container {
    background: #fff;
    position: absolute;
    top: 4%;
    left: 40%;                                                                                                                                                                                                                                                                                                              
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;

  }
  
  /* Header styles */
  .forget-password-container h1 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 1rem;
  }
  
  /* Form styles */
  .forget-password-container form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input styles */
  .forget-password-container input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  /* Button styles */
  .forget-password-container button {
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
  }
  
  .forget-password-container button:hover {
    background-color: #0056b3;
  }
  
  /* Message styles */
  .forget-password-container p {
    text-align: center;
    color: #ff0000; /* You can adjust this color based on the message type */
    font-size: 1rem;
    margin-top: 1rem;
  }

  /*************************************************/
