
.requisition-form {
  background-color:white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px; /* Increased width for larger screens */
  width: 100%;

  flex-wrap: wrap;
 margin-left: 1%;/* Allows content to wrap to the next line */
}

.left-content,
.right-content {
  flex: 1;
  padding: 10px;
}

.left-content {
  display: flex;
  flex-direction: column;
}

.right-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.requisition-form h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: #1081f2;
  text-align: center;
  width: 100%; /* Ensure the heading takes full width */
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 20px;
  color: #333;
  border-top: none;
  border-left:none ;
  border-right: none;
  box-sizing: border-box;
}

.signature-div img{
  width: 100px;
 
}

.submit-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.submit-button:hover {
  background-color: #45a049;
}

@media (max-width: 500px) {
  .requisition-form {
    flex-direction: column; /* Stack content vertically on small screens */
  }

  .left-content,
  .right-content {
    width: 100%; /* Ensure full width on small screens */
  }

  .requisition-form h2 {
    font-size: 20px;
  }
}
