*{
  margin: 0;
}
body{
  overflow-x: hidden;
}
.daf-dashboards {
 
    width: 100%;
    height:auto;
  

  }
  .dafcontents{
    height: auto;
    width: 85%; 
    height: auto;
    justify-content: space-between;
    padding: 100px 10px 0px 0px;
    margin-left: 16%;

    
   
  }
  