body{
  overflow-x: hidden;
}
.daf-dashboard {
    display: flex;
    width: 100%;
    height:auto;
    background-color: rgb(237, 234, 234);

  }
  .dafcontent{
    height: auto;
    width: 83%; 
    left:16%;
    margin-top: 7%;
    position: relative;  
    
   
  }
  