/* Basic form styling */
.veiw-car-info{
  padding: 40px;
 
}
.addcar{
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .addcar h2{
    text-align: center;
    padding: 20px;
    color: #0056b3;
  }
.cancel-edit-btn{
  position: absolute;
  background-color: #dc3545;
 
}  
  
  form div {
    margin-bottom: 15px;
  }
  .car-info{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    
  }
  .car-info h2{
 text-align: center;
 color: #007bff;
 padding: 10px;
  }
  .car-info label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
    display: flex;
    cursor: pointer;
    width:auto;
    float: left;
    font-size: 30px;
    margin-left: 4rem;
    
  }
  .car-info .delete-btn{
    color: red;
  }
  input[type="text"],
  input[type="date"]
{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
   
  button i {
    font-size: 18px;
  }
  
  button:hover i {
    color: #007bff;
  }
  
  button i.fa-trash-alt:hover {
    color: #dc3545;
  }
  /***************styling*******************/
  .fuelStock-data{
    display: flex;
  }
  .fuel-store-card{
    background-color: white;
    padding: 20px;
    margin:10px 20px 20px 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
     rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  }
  .fuel-store-card h2{
    text-align: center;
  }
  .date-filter-store-card{
    margin: 1rem 1rem;
   text-align: center;
    gap: 20px;
    border-radius: 6px;
    background-color: rgb(242, 245, 244);
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .input-date{
    margin-left: 20%;
    gap: 20px;
    display: flex;
  }
  .date-filter-store-card input[type=date]{
    width: 200px;
  }
  /* Responsive styling */
  @media (max-width: 768px) {
    form {
      padding: 15px;
      max-width: 100%;
    }
  
    label {
      font-size: 14px;
    }
  
    input[type="text"],
    input[type="date"],
    button {
      font-size: 14px;
      padding: 8px;
    }
  }
  
  @media (max-width: 480px) {
    form {
      padding: 10px;
    }
  
    label {
      font-size: 12px;
    }
  
    input[type="text"],
    input[type="date"],
    button {
      font-size: 12px;
      padding: 6px;
    }
  
    button {
      padding: 10px;
    }
  }

  